<main style="min-height: calc(100vh - 64px)" class="bg-gray-100 p-6 relative">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
        Category list
      </h2>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="shadow-sm rounded-md">
        <a
          href="/"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
          <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M12 4v16m8-8H4"></path></svg>
          Add category
        </a>
      </span>
    </div>
  </div>

  <div class="my-16 shadow overflow-hidden sm:rounded-lg">
    <div class="align-middle inline-block w-full overflow-x-auto border-b border-gray-200">
      <table class="min-w-full">
        <thead>
          <tr>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Title
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Description
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Book count
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Posted on
            </th>
            <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <p class="text-sm max-w-xs truncate leading-5 text-gray-900">
                hello world
              </p>
            </td>
            <td class="px-6 py-4 max-w-xs truncate border-b border-gray-200 leading-5 text-gray-500">
              <span class="text-sm">Description of the book</span>
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              85
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              16th Feb, 2015
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="/" class="text-indigo-600 hover:text-indigo-900">
                Edit
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <p class="text-sm max-w-xs truncate leading-5 text-gray-900">
                hello world
              </p>
            </td>
            <td class="px-6 py-4 max-w-xs truncate border-b border-gray-200 text-sm leading-5 text-gray-500">
              Description of the book
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              85
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              16th Feb, 2015
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="/" class="text-indigo-600 hover:text-indigo-900">
                Edit
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <p class="text-sm max-w-xs truncate leading-5 text-gray-900">
                hello world
              </p>
            </td>
            <td class="px-6 py-4 max-w-xs truncate border-b border-gray-200 text-sm leading-5 text-gray-500">
              Description of the book
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              85
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              16th Feb, 2015
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="/" class="text-indigo-600 hover:text-indigo-900">
                Edit
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <p class="text-sm max-w-xs truncate leading-5 text-gray-900">
                hello world
              </p>
            </td>
            <td class="px-6 py-4 max-w-xs truncate border-b border-gray-200 text-sm leading-5 text-gray-500">
              Description of the book
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              85
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              16th Feb, 2015
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="/" class="text-indigo-600 hover:text-indigo-900">
                Edit
              </a>
            </td>
          </tr>
          <tr>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
              <p class="text-sm max-w-xs truncate leading-5 text-gray-900">
                hello world
              </p>
            </td>
            <td class="px-6 py-4 max-w-xs truncate border-b border-gray-200 text-sm leading-5 text-gray-500">
              Description of the book
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              85
            </td>
            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
              16th Feb, 2015
            </td>
            <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
              <a href="/" class="text-indigo-600 hover:text-indigo-900">
                Edit
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>