<main style="min-height: calc(100vh - 64px)" class="bg-gray-100 p-6 relative">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
        Add category
      </h2>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
      <span class="shadow-sm rounded-md">
        <a
          href="/"
          class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700 transition duration-150 ease-in-out">
          <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M5 13l4 4L19 7"></path></svg>
          Publish
        </a>
      </span>
    </div>
  </div>

  <div class="mt-5 md:flex md:mt-8 md:-ml-6">
    <div class="max-w-md md:w-1/3 xl:max-w-md md:px-6">
      <h2 class="text-gray-900 text-lg font-semibold">Category</h2>
      <p class="mt-2 text-sm text-gray-500 lg:text-base">
        Category title and description should be short and to the point.
      </p>
    </div>
    <div class="shadow mt-5 bg-white rounded-md p-4 md:mt-0 md:w-2/3 md:p-6">
      <div>
        <label for="" class="text-sm text-gray-700 font-medium">Title</label>
        <input type="text" class="form-input mt-1 block w-full px-3 py-2 shadow-sm" placeholder="Eg: Thriller">
      </div>
      <div class="mt-4">
        <label htmlFor="add_category_description" class="text-sm text-gray-700 font-medium">
          Description
        </label>
        <label for="" class="text-sm text-gray-700 font-medium">Title</label>
        <textarea name="" id="" rows="10" class="form-input mt-1 block w-full px-3 py-2 shadow-sm" placeholder="Write a short description about the category"></textarea>
    </div>
  </div>
</main>